<form action="#" class="serach-form-area" method="post">
    <div class="row justify-content-center form-wrap">
      <div class="col-lg-6 form-cols">
        <input
          type="text"
          class="form-control"
          name="title"
          placeholder="Công việc bạn đang tìm là gì?"
        />
      </div>
      <div class="col-lg-4 form-cols ">
        <div class="default-select" id="default-selects">
          <select title="area" class="form-control">
            <option value="1">Khu vực</option>
            <option value="2">TP Hồ Chí Minh</option>
            <option value="3">Hà Nội</option>
            <option value="4">Đà Nẵng</option>
            <option value="5">Cần Thơ</option>
          </select>
        </div>
      </div>
      <div class="col-lg-2 form-cols">
        <button type="submit" class="btn btn-info">
          <span class="lnr lnr-magnifier"></span> Tìm kiếm
        </button>
      </div>
    </div>
  </form>
