<section class="callto-action-area section-gap" [class.mt-5]="withTopMargin" [id]="sectionId">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content col-lg-9">
        <div class="title text-center">
          <h1 class="mb-10 text-white">{{ title }}</h1>
          <p class="text-white">{{ description }}</p>
          <a class="primary-btn" [href]="candidateHref">{{ candidateText }}</a>
          <a class="primary-btn" [href]="employerHref">{{ employerText }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
