<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div
      class="row search-page-top d-flex align-items-center justify-content-center"
    >
      <div class="banner-content col-lg-12">
        <h1 class="text-white">
          <span>1500+</span> Công việc đã được đăng ở tuần trước
        </h1>
        <div class="h-10"></div>
        <app-search-form></app-search-form>
        <p class="text-white">
          <span>Tìm kiếm theo tags:</span> Công nghệ, Kinh doanh, Tư vấn, IT
          Company, Thiết kế, Lập trình
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Start features Area -->
<section class="features-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single-feature">
          <h4>Searching</h4>
          <p>
            Tìm kiếm thông minh, lọc hàng ngàn công việc phù hợp chỉ trong giây
            lát.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-feature">
          <h4>Applying</h4>
          <p>
            Ứng tuyển nhanh chóng với một chạm, kết nối thẳng tới nhà tuyển dụng
            hàng đầu.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-feature">
          <h4>Security</h4>
          <p>
            Thông tin cá nhân của bạn luôn được bảo mật tuyệt đối và an toàn.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-feature">
          <h4>Notifications</h4>
          <p>
            Nhận thông báo việc làm mới nhất và trạng thái hồ sơ theo thời gian
            thực.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End features Area -->

<!-- Start feature-cat Area -->
<section class="feature-cat-area pt-100" id="category">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-10">
        <div class="title text-center">
          <h1 class="mb-10">Danh mục công việc nổi bậc</h1>
          <p>
            Những người cực kỳ yêu thích hệ thống thân thiện với môi trường.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="single-fcat">
          <a>
            <img src="assets/web_css/img/o1.png" alt="" />
          </a>
          <p>Kế toán</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="single-fcat">
          <a>
            <img src="assets/web_css/img/o2.png" alt="" />
          </a>
          <p>Lập trình</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="single-fcat">
          <a>
            <img src="assets/web_css/img/o3.png" alt="" />
          </a>
          <p>Kỹ thuật</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="single-fcat">
          <a>
            <img src="assets/web_css/img/o4.png" alt="" />
          </a>
          <p>Truyền thông</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="single-fcat">
          <a>
            <img src="assets/web_css/img/o5.png" alt="" />
          </a>
          <p>Tư vấn</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="single-fcat">
          <a>
            <img src="assets/web_css/img/o6.png" alt="" />
          </a>
          <p>Quản lý</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End feature-cat Area -->

<!-- Start post Area -->
<section class="post-area section-gap">
  <div class="container">
    <div class="row justify-content-center d-flex">
      <div class="col-lg-8 post-list w-full">
        <ul class="cat-list">
          <li><a href="#">Recent</a></li>
          <li><a href="#">Full Time</a></li>
          <li><a href="#">Intern</a></li>
          <li><a href="#">Part Time</a></li>
        </ul>

        <!-- Nếu có công việc -->
        @if (jobPosts.length > 0) {
          <div class="flex flex-col gap-y-2 items-center w-full">
            @for (item of jobPosts; track trackById($index, item)) {
              <app-job-card
                [job]="item"
                image="assets/web_css/img/post.png"
                detailRoute="/single"
              />
            }
          </div>
        } @else {
          <div class="alert alert-info text-center">Không có công việc nào</div>
        }

        <a
          [routerLink]="['/category']"
          class="text-uppercase loadmore-btn mx-auto d-block mt-4"
        >
          Tải thêm việc
        </a>
      </div>

      <div class="col-lg-4 sidebar">
        <div class="single-slidebar">
          <h4>Công việc theo vị trí</h4>
          <ul class="cat-list">
            <li>
              <a class="justify-content-between d-flex">
                <p>Hồ Chí Minh</p>
                <span>37</span>
              </a>
            </li>
            <li>
              <a class="justify-content-between d-flex">
                <p>Hà Nội</p>
                <span>57</span>
              </a>
            </li>
            <li>
              <a class="justify-content-between d-flex">
                <p>Đà Nẵng</p>
                <span>33</span>
              </a>
            </li>
            <li>
              <a class="justify-content-between d-flex">
                <p>Đồng Nai</p>
                <span>36</span>
              </a>
            </li>
            <li>
              <a class="justify-content-between d-flex">
                <p>Cần Thơ</p>
                <span>47</span>
              </a>
            </li>
            <li>
              <a class="justify-content-between d-flex">
                <p>Đà Lạt</p>
                <span>27</span>
              </a>
            </li>
            <li>
              <a class="justify-content-between d-flex">
                <p>Bình Dương</p>
                <span>17</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="single-slidebar">
          <h4>Bài viết</h4>
          <div class="blog-list">
            <div
              class="single-blog"
              style="background: #000 url(assets/web_css/img/blog1.jpg)"
            >
              <a href="/blogHome/blogSingle/3">
                <h4>How to Write a Standout Resume</h4>
              </a>
              <div class="meta justify-content-between d-flex">
                <p>2025-02-27 19:29:00</p>
                <p>
                  <span class="lnr lnr-heart"></span>
                  <span>150</span>
                  <span class="lnr lnr-bubble"></span>
                  02
                </p>
              </div>
            </div>
            <div
              class="single-blog"
              style="background: #000 url(assets/web_css/img/blog1.jpg)"
            >
              <a href="/blogHome/blogSingle/1">
                <h4>5 Essential Job Search Tips</h4>
              </a>
              <div class="meta justify-content-between d-flex">
                <p>2025-02-27 19:29:00</p>
                <p>
                  <span class="lnr lnr-heart"></span>
                  <span>120</span>
                  <span class="lnr lnr-bubble"></span>
                  02
                </p>
              </div>
            </div>
            <div
              class="single-blog"
              style="background: #000 url(assets/web_css/img/blog1.jpg)"
            >
              <a href="/blogHome/blogSingle/2">
                <h4>Top Career Trends in 2024</h4>
              </a>
              <div class="meta justify-content-between d-flex">
                <p>2025-02-27 19:29:00</p>
                <p>
                  <span class="lnr lnr-heart"></span>
                  <span>98</span>
                  <span class="lnr lnr-bubble"></span>
                  02
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End post Area -->

<!-- Start callto-action Area -->
<app-call-to-action></app-call-to-action>
<!-- End calto-action Area -->

<!-- Start download Area -->
<app-download-area></app-download-area>
<!-- End download Area -->
