<section class="banner-area relative" id="category">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-this.jobDetails-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">Job Details</h1>
        <p class="text-white link-nav">
          <a routerLink="/">Home</a>
          <span class="lnr lnr-arrow-right"></span>
          <a [routerLink]="['/single', this.jobId]">Job Details</a>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- End banner Area -->

<!-- Start post Area -->
<section class="post-area section-gap">
  <div class="container">
    <div class="row justify-content-center d-flex">
      <div class="col-lg-8 post-list">
        <div class="single-post d-flex flex-row">
          <div class="thumb">
            <img src="assets/web_css/img/post.png" alt="" />
          </div>
          <div class="details">
            <div class="title d-flex flex-row justify-content-between">
              <div class="titles">
                <a>
                  <h4>{{ this.jobDetail.title }}</h4>
                </a>
              </div>
              <ul class="btns">
                <li>
                  <a href="#"><span class="lnr lnr-heart"></span></a>
                </li>
                <li>
                  <a [routerLink]="['/apply-cv', this.jobId]">Ứng tuyển</a>
                </li>
              </ul>
            </div>
            <p class="info">
              <span
                ><i class="lnr lnr-map"></i>&nbsp;{{
                  this.jobDetail.address
                }}</span
              >
              <span class="divider"></span>
              <span
                ><i class="lnr lnr-database"></i>&nbsp;{{
                  this.formatMoney(this.jobDetail.salary)
                }}</span
              >
              <span class="divider"></span>
              <span>{{ this.jobDetail.time }}</span>
            </p>
          </div>
        </div>

        <div class="single-post job-details">
          <h4 class="single-title">Whom we are looking for</h4>
          <div [innerHTML]="jobDetail.description | safeHtml"></div>
        </div>
        <div class="single-post job-details">
          <h4 class="single-title">Experience Requirements</h4>
          <div [innerHTML]="jobDetail.requireDetails | safeHtml"></div>
        </div>
        <div class="single-post job-details">
          <h4 class="single-title">Job Skills</h4>
          <div [innerHTML]="jobDetail.skill | safeHtml"></div>
        </div>
      </div>
      <div class="col-lg-4 sidebar">
        <div class="single-slidebar">
          <h4>Jobs by Location</h4>
          <ul class="cat-list">
            <li>
              <a class="justify-content-between d-flex">
                <p>New York</p>
                <span>37</span>
              </a>
            </li>
            <li>
              <a class="justify-content-between d-flex">
                <p>Park Montana</p>
                <span>57</span>
              </a>
            </li>
            <li>
              <a class="justify-content-between d-flex">
                <p>Atlanta</p>
                <span>33</span>
              </a>
            </li>
            <li>
              <a class="justify-content-between d-flex">
                <p>Arizona</p>
                <span>36</span>
              </a>
            </li>
            <li>
              <a class="justify-content-between d-flex">
                <p>Florida</p>
                <span>47</span>
              </a>
            </li>
            <li>
              <a class="justify-content-between d-flex">
                <p>Rocky Beach</p>
                <span>27</span>
              </a>
            </li>
            <li>
              <a class="justify-content-between d-flex">
                <p>Chicago</p>
                <span>17</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="single-slidebar">
          <h4>Carrer Advice Blog</h4>
          <div class="blog-list">
            <div
              class="single-blog"
              style="background: #000 url(assets/web_css/img/blog1.jpg)"
            >
              <a>
                <h4>
                  Home Audio Recording <br />
                  For Everyone
                </h4>
              </a>
              <div class="meta justify-content-between d-flex">
                <p>02 Hours ago</p>
                <p>
                  <span class="lnr lnr-heart"></span>
                  06
                  <span class="lnr lnr-bubble"></span>
                  02
                </p>
              </div>
            </div>
            <div
              class="single-blog"
              style="background: #000 url(assets/web_css/img/blog2.jpg)"
            >
              <a>
                <h4>
                  Home Audio Recording <br />
                  For Everyone
                </h4>
              </a>
              <div class="meta justify-content-between d-flex">
                <p>02 Hours ago</p>
                <p>
                  <span class="lnr lnr-heart"></span>
                  06
                  <span class="lnr lnr-bubble"></span>
                  02
                </p>
              </div>
            </div>
            <div
              class="single-blog"
              style="background: #000 url(assets/web_css/img/blog1.jpg)"
            >
              <a>
                <h4>
                  Home Audio Recording <br />
                  For Everyone
                </h4>
              </a>
              <div class="meta justify-content-between d-flex">
                <p>02 Hours ago</p>
                <p>
                  <span class="lnr lnr-heart"></span>
                  06
                  <span class="lnr lnr-bubble"></span>
                  02
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
