<section class="banner-area relative" id="category">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row search-page-top d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-12">
                <h1 class="text-white">
                    Tìm  việc
                </h1>
                <p class="text-white link-nav">
                    <a href="/">Trang chủ </a> <span class="lnr lnr-arrow-right"></span> <a
                        href="/">
                        Tìm việc</a>
                </p>
                <form action="/search" class="serach-form-area" method="post"><input type="hidden" name="_csrf" value="a8796626-9959-4983-a98b-652cce4be002"/>
                    <div class="row justify-content-center form-wrap">
                        <div class="col-lg-6 form-cols">
                            <input type="text" class="form-control" name="title"
                                placeholder="Công việc bạn đang tìm là gì?">
                        </div>
                        <div class="col-lg-4 form-cols">
                            <div class="default-select" id="default-selects">
                                <select>
                                  @for (item of addressCount; track item.address) {
                                      <option value="{{item.address}}">{{item.address}}</option>
                                  }
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-2 form-cols">
                            <button type="submit" class="btn btn-info">
                                <span class="lnr lnr-magnifier"></span> Tìm kiếm
                            </button>
                        </div>
                    </div>
                </form>
                <p class="text-white"> <span>Tìm kiếm theo tags:</span> Công nghệ, Kinh doanh, Tư vấn, IT Company,
                    Thiết kế, Lập trình</p>
            </div>
        </div>
    </div>
</section>

<!-- Start post Area -->
<section class="post-area section-gap">
    <div class="container">
        <div class="row justify-content-center d-flex">
          <div class="col-lg-4 sidebar">
            <div class="single-slidebar">
              <h4>Phân loại công việc theo vị trí</h4>
              <ul class="list-group cat-list">
                @for (item of addressCount; track item.address) {
                  <li class="list-group-item d-flex align-items-center justify-content-between">
                    <div class="form-check d-flex align-items-center m-0">
                      <input class="form-check-input" type="checkbox" value="{{item.address}}" (change)="onFilterChange($event)" >
                      <label class="form-check-label " >{{item.address}}</label>
                    </div>
                    <span>{{item.amount}}</span>
                  </li>
                }
              </ul>
            </div>

            <div class="single-slidebar">
              <h4>Loại công việc</h4>
              <ul class="list-group cat-list">
                @for (job of this.jobTypes; track job.label){
                  <li class="list-group-item">
                    <label class="form-switch">
                      <input type="checkbox" [checked]="job.checked" (change)="onFilterChange($event)">
                      <span>{{ job.label }}</span>
                      <span class="slider round"></span>
                    </label>
                  </li>
                }

              </ul>
            </div>

            <div class="single-slidebar">
              <h4> Lương </h4>
              <mat-slider
                [min]="min"
                [max]="max"
                [step]="step"
                discrete
                class="my-slider">
                <input
                  matSliderStartThumb
                  [value]="minSalary"
                  (valueChange)="onMinChange($event)"
                  (dragEnd)="onMinChange($event.value)"
                  (change)="onFilterChange($event)"/>
                <input
                  matSliderEndThumb
                  [value]="maxSalary"
                  (valueChange)="onMaxChange($event)"
                  (dragEnd)="onMaxChange($event.value)"
                  (change)="onFilterChange($event)"/>
              </mat-slider>

              <div class="value-labels">
                <span>{{ formatMoney(minSalary) }}</span>
                <span>{{ formatMoney(maxSalary) }}</span>
              </div>

            </div>
          </div>
            <div class="col-lg-8 post-list">
                @for (item of listJobsNewest; track item.id) {
                <div class="single-post flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="{{item.image}}" alt="">
                    </div>
                    <div class="details ms-2">
                        <div class="title d-flex flex-row justify-content-between">
                            <div class="titles">
                                <a href="{{item.link}}">
                                    <h4>{{item.title}} &nbsp;</h4>
                                </a>
                            </div>
                        </div>
                        <p>{{item.description}}</p>
                      <p class="info">
                        <span><i class="lnr lnr-map"></i>&nbsp;{{item.address}}</span>
                        <span class="divider"></span>
                        <span><i class="lnr lnr-database"></i>&nbsp;{{ formatMoney(item.salary)}}</span>
                        <span class="divider"></span>
                        <span>{{item.type}}</span>
                      </p>
                    </div>
                </div>
                } @empty {
                <li>There are no items.</li>
                }
              <mat-paginator [length]="this.length"
                             [pageSize]=" 10"
                             [pageSizeOptions]="[5, 10, 25]"
                             [showFirstLastButtons]="true"
                             [pageIndex]="pageIndex"
                             (page)="handlePage($event)"
                             aria-label="Select page">
              </mat-paginator>
            </div>
        </div>
    </div>
</section>
<!-- End post Area -->

<!-- Start callto-action Area -->
<section class="callto-action-area section-gap mt-5" id="join">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10 text-white">Tham gia vào chúng tôi mà không có bất kỳ do dự nào</h1>
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation.</p>
                    <a class="primary-btn" href="/login">Tôi là ứng viên</a>
                    <a class="primary-btn" href="/login">Tôi là nhà tuyển dụng</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End calto-action Area -->
