<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row search-page-top d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-12">
                <h1 class="text-white">
                    Tìm  việc
                </h1>
                <p class="text-white link-nav">
                    <a href="/">Trang chủ </a> <span class="lnr lnr-arrow-right"></span> <a
                        href="/">
                        Tìm việc</a>
                </p>
                <form action="/search" class="serach-form-area" method="post"><input type="hidden" name="_csrf" value="a8796626-9959-4983-a98b-652cce4be002"/>
                    <div class="row justify-content-center form-wrap">
                        <div class="col-lg-4 form-cols">
                            <input type="text" class="form-control" name="title"
                                placeholder="Công việc bạn đang tìm là gì?">
                        </div>
                        <div class="col-lg-3 form-cols">
                            <div class="default-select" id="default-selects">
                                <select>
                                    <option value="1">Khu vực</option>
                                    <option value="2">TP Hồ Chí Minh</option>
                                    <option value="3">Hà Nội</option>
                                    <option value="4">Đà Nẵng</option>
                                    <option value="5">Cần Thơ</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 form-cols">
                            <div class="default-select" id="default-selects2">
                                <select>
                                    <option value="1">Lĩnh vực</option>
                                    <option value="2">Khách sạn</option>
                                    <option value="3">Kỹ thuật</option>
                                    <option value="4">Quản lý</option>
                                    <option value="5">Lập trình</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 form-cols">
                            <button type="submit" class="btn btn-info">
                                <span class="lnr lnr-magnifier"></span> Tìm kiếm
                            </button>
                        </div>
                    </div>
                </form>
                <p class="text-white"> <span>Tìm kiếm theo tags:</span> Công nghệ, Kinh doanh, Tư vấn, IT Company,
                    Thiết kế, Lập trình</p>
            </div>
        </div>
    </div>
</section>

<!-- Start post Area -->
<section class="post-area section-gap">
    <div class="container">

        <div class="row justify-content-center d-flex">
            <div class="col-lg-8 post-list">
                @for (item of listJobsNewest; track item.id) {
                
                <div class="single-post d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="{{item.image}}" alt="">
                        <ul class="tags">
                            <li>
                                <a>Art</a>
                            </li>
                            <li>
                                <a>Media</a>
                            </li>
                            <li>
                                <a>Design</a>
                            </li>
                        </ul>
                    </div>
                    <div class="details">
                        <div class="title d-flex flex-row justify-content-between">
                            <div class="titles">
                                <a href="{{item.link}}">
                                    <h4>{{item.title}}</h4>
                                </a>
                                <h6>Premium Labels Limited</h6>
                            </div>
                            <ul class="btns">
                                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                               <li><a href="#">Apply</a></li>
                            </ul>
                        </div>
                        <p>{{item.description}}</p>
                        <h5>
                            <p>{{item.type}}</p>
                        </h5>
                        <p class="address"><span class="lnr lnr-map">{{item.address}}</span> </p>
                        <p class="address"><span class="lnr lnr-database">{{item.salary}}</span>
                        </p>
                    </div>
                </div>
                } @empty {
                <li>There are no items.</li>
                }
               
            </div>
            <div class="col-lg-4 sidebar">
    <div class="single-slidebar">
        <h4>Công việc theo vị trí</h4>
        <ul class="cat-list">
            <li><a class="justify-content-between d-flex" href="/category">
                    <p>Hồ Chí Minh</p><span>37</span>
                </a></li>
            <li><a class="justify-content-between d-flex" href="/category">
                    <p>Hà Nội</p><span>57</span>
                </a></li>
            <li><a class="justify-content-between d-flex" href="/category">
                    <p>Đà Nẵng</p><span>33</span>
                </a></li>
            <li><a class="justify-content-between d-flex" href="/category">
                    <p>Đồng Nai</p><span>36</span>
                </a></li>
            <li><a class="justify-content-between d-flex" href="/category">
                    <p>Cần Thơ</p><span>47</span>
                </a></li>
            <li><a class="justify-content-between d-flex" href="/category">
                    <p>Đà Lạt</p><span>27</span>
                </a></li>
            <li><a class="justify-content-between d-flex" href="/category">
                    <p>Bình Dương</p><span>17</span>
                </a></li>
        </ul>
    </div>

    <div class="single-slidebar">
        <h4>Tuyển dụng được đánh giá cao</h4>
        <div class="active-relatedjob-carusel">
            
        </div>
    </div>

    <div class="single-slidebar">
        <h4>Công việc theo lĩnh vực</h4>
        <ul class="cat-list">
            <li><a class="justify-content-between d-flex" href="/category">
                    <p>Kỹ thuật</p><span>37</span>
                </a></li>
            <li><a class="justify-content-between d-flex" href="/category">
                    <p>Truyền thông</p><span>57</span>
                </a></li>
            <li><a class="justify-content-between d-flex" href="/category">
                    <p>Quản lý</p><span>33</span>
                </a></li>
            <li><a class="justify-content-between d-flex" href="/category">
                    <p>Tư vấn</p><span>36</span>
                </a></li>
            <li><a class="justify-content-between d-flex" href="/category">
                    <p>Nhà hàng</p><span>47</span>
                </a></li>
            <li><a class="justify-content-between d-flex" href="/category">
                    <p>Lập trình</p><span>27</span>
                </a></li>
            <li><a class="justify-content-between d-flex" href="/category">
                    <p>Kế toán</p><span>17</span>
                </a></li>
        </ul>
    </div>

    <div class="single-slidebar">
        <h4>Bài viết </h4>
        <div class="blog-list">
            
        </div>
    </div>
</div>
        </div>
    </div>
</section>
<!-- End post Area -->

<!-- Start callto-action Area -->
<section class="callto-action-area section-gap" id="join">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10 text-white">Tham gia vào chúng tôi mà không có bất kỳ do dự nào</h1>
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation.</p>
                    <a class="primary-btn" href="/login">Tôi là ứng viên</a>
                    <a class="primary-btn" href="/login">Tôi là nhà tuyển dụng</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End calto-action Area -->
