<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Quên mật khẩu
        </h1>
        <p class="text-white link-nav"><a [routerLink]="['/']">Home </a> <span class="lnr lnr-arrow-right"></span>
          <a [routerLink]="['/forgot-pass']">Quên mật khẩu</a>
        </p>
      </div>
    </div>
  </div>
</section>
<main>
  <!-- login Area Start -->
  <div class="login-form-area section-padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-7 col-md-10">
          <form [formGroup]="formGroup" (submit)="onSubmit()" >
            <div class="login-form">
              <!-- Login Heading -->
              <div class="login-heading">
                <span>Quên mật khẩu</span>
                <p>Nhập email bạn đăng nhập tài khoản</p>
              </div>
              <!-- Single Input Fields -->
              <div class="input-box">
                <div class="single-input-fields ">
                  <label>Email</label>
                  <input type="text" placeholder="Địa chỉ Email" name="email"
                         required formControlName="email">
                  <button class="btn login-btn" type="button" (click)="getCode()"> Lấy mã</button>
                </div>
                <div class="single-input-fields mt-2">
                  <label>Mã xác nhận</label>
                  <input type="text" placeholder="" name="code"
                         required formControlName="code">
                </div>
                <div *ngIf="isError" >
                  <div class="text-danger">
                    {{ message }}
                  </div>
                </div>
                <div *ngIf="!isError" >
                  <div class="text-success">
                    {{ message }}
                  </div>
                </div>
              </div>
              <!-- form Footer -->
              <div class="login-footer">
                <button class="btn login-btn" type="submit" >Xác thực</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- login Area End -->
</main>
