<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Đăng nhập</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/login_css/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/login_css/css/main.css}">
	<!--===============================================================================================-->
	<div th:replace="~{fragments/lib :: css}"></div>

</head>

<body>
	<div sec:authorize="isAuthenticated()">
			<div th:replace="~{fragments/lib :: navigationS}"></div>
		</div>
		<div sec:authorize="!isAuthenticated()">
			<div th:replace="~{fragments/lib :: navigation}"></div>
		</div>
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Đăng nhập
					</h1>
					<p class="text-white link-nav"><a th:href="@{/}">Home </a> <span class="lnr lnr-arrow-right"></span>
						<a th:href="@{/login}">Đăng nhập</a>
					</p>
				</div>
			</div>
		</div>
	</section>
	<main>
		<!-- login Area Start -->
		<div class="login-form-area section-padding">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-6 col-lg-7 col-md-10">
						<form method="post" th:action="@{/login}">
							<div class="login-form">
								<!-- Login Heading -->
								<div class="login-heading">
									<span>Đăng nhập</span>
									<p>Nhập thông tin đăng nhập để truy cập</p>
								</div>
								<!-- Single Input Fields -->
								<div class="input-box">
									<div class="single-input-fields">
										<label>Tên người dùng hoặc Email</label>
										<input type="text" placeholder="Tên người dùng / Địa chỉ Email" name="username"
											required>
									</div>
									<div class="single-input-fields">
										<label>Mật khẩu</label>
										<input type="password" placeholder="Mật khẩu" name="password" required>
									</div>
									<div class="single-input-fields login-check">
										<!--<input type="checkbox" id="fruit1" name="keep-log" required>
										<label for="fruit1">Keep me logged in</label>-->
										<a href="forgot" class="f-right">Quên mật khẩu?</a>
									</div>
								</div>
								<!-- form Footer -->
								<div class="login-footer">
									<p>Bạn đã có tài khoản? <a th:href="@{/register}">Đăng ký</a> ở đây</p>
									<button class="btn login-btn" type="submit">Đăng nhập</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- login Area End -->
	</main>
	<div th:replace="~{fragments/lib :: footer}"></div>
	<div th:replace="~{fragments/lib :: js}"></div>

</body>

</html>