<div [id]="job.id" class="flex flex-row items-center border shadow-md rounded-xl m-1 py-2 px-4 gap-x-2">
  <div class="thumb">
    <img title="img" class="img-fluid my-auto" [src]="image" [alt]="job.title" />
  </div>
  <div class="details">
    <div class="title d-flex flex-row justify-content-between">
      <div class="titles">
        <a [routerLink]="[detailRoute, job.id]">
          <h4>{{ job.title }}</h4>
        </a>
      </div>
    </div>
    <p>{{ job.description }}</p>
    <p class="info">
      <span><i class="lnr lnr-map"></i>&nbsp;{{ job.address }}</span>
      <span class="divider"></span>
      <span><i class="lnr lnr-database"></i>&nbsp;{{ formatMoney(job.salary) }}</span>
      <span class="divider"></span>
      <span>{{ job.time }}</span>
    </p>
  </div>
</div>
