<!-- start banner Area -->
<section class="banner-area relative" id="category">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          {{ 'about.bannerTitle' | t }}
        </h1>
        <p class="text-white link-nav">
          <a href="/">{{ 'about.breadcrumbHome' | t }}</a>
          <span class="lnr lnr-arrow-right"></span>
          <a href="/about">{{ 'about.breadcrumbCurrent' | t }}</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start service Area -->
<section class="service-area section-gap" id="service">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 pb-40 header-text">
        <h1>{{ 'about.whyChooseUsTitle' | t }}</h1>
        <p>
          {{ 'about.whyChooseUsDesc' | t }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <h4><span class="lnr lnr-user"></span>{{ 'about.services.expertTitle' | t }}</h4>
          <p>
            {{ 'about.services.expertDesc' | t }}
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <h4><span class="lnr lnr-license"></span>{{ 'about.services.professionalTitle' | t }}</h4>
          <p>
            {{ 'about.services.professionalDesc' | t }}
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <h4><span class="lnr lnr-phone"></span>{{ 'about.services.supportTitle' | t }}</h4>
          <p>
            {{ 'about.services.supportDesc' | t }}
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <h4><span class="lnr lnr-rocket"></span>{{ 'about.services.matchingTitle' | t }}</h4>
          <p>
            {{ 'about.services.matchingDesc' | t }}
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <h4><span class="lnr lnr-diamond"></span>{{ 'about.services.trustedTitle' | t }}</h4>
          <p>
            {{ 'about.services.trustedDesc' | t }}
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <h4><span class="lnr lnr-bubble"></span>{{ 'about.services.reviewTitle' | t }}</h4>
          <p>
            {{ 'about.services.reviewDesc' | t }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End service Area -->

<!-- Start feature Area -->
<section class="feature-area">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-3 feat-img no-padding">
        <img class="img-fluid" src="assets/web_css/img/pages/f1.jpg" alt="Who we are" />
      </div>
      <div class="col-lg-3 no-padding feat-txt">
        <h6 class="text-uppercase text-white">{{ 'about.mission.tag' | t }}</h6>
        <h1>{{ 'about.mission.whoTitle' | t }}</h1>
        <p>
          {{ 'about.mission.whoDesc' | t }}
        </p>
      </div>
      <div class="col-lg-3 feat-img no-padding">
        <img class="img-fluid" src="assets/web_css/img/pages/f2.jpg" alt="What we do" />
      </div>
      <div class="col-lg-3 no-padding feat-txt">
        <h6 class="text-uppercase text-white">{{ 'about.mission.tag' | t }}</h6>
        <h1>{{ 'about.mission.whatTitle' | t }}</h1>
        <p>
          {{ 'about.mission.whatDesc' | t }}
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End feature Area -->

<!-- Start team Area -->
<section class="team-area section-gap" id="team">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">{{ 'about.team.title' | t }}</h1>
          <p>{{ 'about.team.description' | t }}</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center d-flex align-items-center">
      <div class="col-md-3 single-team">
        <div class="thumb">
          <img class="img-fluid" src="assets/web_css/img/pages/t1.jpg" alt="Ethel Davis" />
          <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <div class="meta-text mt-30 text-center">
          <h4>Ethel Davis</h4>
          <p>{{ 'about.team.member1Role' | t }}</p>
        </div>
      </div>
      <div class="col-md-3 single-team">
        <div class="thumb">
          <img class="img-fluid" src="assets/web_css/img/pages/t2.jpg" alt="Rodney Cooper" />
          <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <div class="meta-text mt-30 text-center">
          <h4>Rodney Cooper</h4>
          <p>{{ 'about.team.member2Role' | t }}</p>
        </div>
      </div>
      <div class="col-md-3 single-team">
        <div class="thumb">
          <img class="img-fluid" src="assets/web_css/img/pages/t3.jpg" alt="Dora Walker" />
          <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <div class="meta-text mt-30 text-center">
          <h4>Dora Walker</h4>
          <p>{{ 'about.team.member3Role' | t }}</p>
        </div>
      </div>
      <div class="col-md-3 single-team">
        <div class="thumb">
          <img class="img-fluid" src="assets/web_css/img/pages/t4.jpg" alt="Lena Keller" />
          <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <div class="meta-text mt-30 text-center">
          <h4>Lena Keller</h4>
          <p>{{ 'about.team.member4Role' | t }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End team Area -->

<!-- Start callto-action Area -->
<app-call-to-action></app-call-to-action>
<!-- End calto-action Area -->
