<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center" style="height: 11vh;">
            <div class="banner-content col-lg-12">
            </div>
        </div>
    </div>
</section>
<div class="verify-notice">
    <h2>✔️ Đã gửi email kích hoạt!</h2>
    <p>Chúng tôi đã gửi liên kết kích hoạt đến email của bạn. Vui lòng kiểm tra hộp thư.</p>
    <p>Nếu không nhận được email, hãy kiểm tra trong mục spam hoặc 
       <a (click)="reSendLink()">gửi lại liên kết kích hoạt</a>.</p>
       
  </div>
  
