<header
  id="header"
  class="transition-colors duration-300 fixed"
  [ngClass]="{
    'bg-black': isScrolled,
    'bg-transparent': !isScrolled,
  }"
>
  <div class="container">
    <div class="flex justify-between items-center">
      <div id="logo">
        <a href="/"
          ><img src="assets/web_css/img/logo.png" alt="" title=""
        /></a>
      </div>
      <c-navbar id="nav-menu-container" expand="lg">
        <c-container>
          <c-navbar-nav class="nav-menu flex flex-row w-full items-center gap-x-2">
            <ng-container>
              <c-nav-item class="menu-active">
                <a cNavLink href="/">Trang chu</a>
              </c-nav-item>
              <c-nav-item>
                <a cNavLink href="/category">Tim viec</a>
              </c-nav-item>
            </ng-container>

            <c-nav-item>
              <a cNavLink href="/blogHome">Blog</a>
            </c-nav-item>
            <c-nav-item>
              <a cNavLink href="/contact">Lien he</a>
            </c-nav-item>
            <c-nav-item>
              <a cNavLink href="/about">Thong tin</a>
            </c-nav-item>
            @if (isLoggedIn) {
              <div class="text-slate-50">
                <button matButton [matMenuTriggerFor]="menu">Tai khoan</button>
                <mat-menu #menu="matMenu" class="bg-white rounded-xl! shadow-md!">
                  <button mat-menu-item (click)="goInfor()" class="text-slate-50 hover:bg-gray-200! ">Thong tin tai khoan</button>
                  <button mat-menu-item (click)="logout()" class="text-slate-50 hover:bg-gray-200!">Dang xuat</button>
                </mat-menu>
              </div>
            } @else {
              <ng-container
                class="flex flex-row justify-between w-full gap-x-2"
              >
                @if (isLoginPage) {
                  <c-nav-item
                    class="bg-white rounded-lg border-blue-900 border-2! px-2 py-1"
                  >
                    <a cNavLink href="/login" class="text-black!">Dang nhap</a>
                  </c-nav-item>
                } @else {
                  <c-nav-item class="rounded-lg bg-blue-500 px-2 py-1">
                    <a cNavLink href="/login">Dang nhap</a>
                  </c-nav-item>
                }
                @if (isRegisterPage) {
                  <c-nav-item
                    class="bg-white rounded-lg border-blue-900 border-2! px-2 py-1"
                  >
                    <a cNavLink href="/register" class="text-black!">Dang ky</a>
                  </c-nav-item>
                } @else {
                  <c-nav-item class="rounded-lg bg-blue-500 px-2 py-1">
                    <a cNavLink href="/register">Dang ky</a>
                  </c-nav-item>
                }
              </ng-container>
            }
          </c-navbar-nav>
        </c-container>
      </c-navbar>
    </div>
  </div>
</header>
